.spa-centar-page {
  width: 100%;
}

.spa-centar-heading {
  padding: 7rem 1rem;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  color: #fff;
}

.spa-centar-heading h1 {
  max-width: 75rem;
  padding: 1rem;
  margin: 0 auto;
  font-weight: 500;
  font-size: 2.8rem;
}

.spa-centar-container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
}

.spa-centar-column {
  max-width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.column-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  background-color: #fff;
  padding: 2.5rem;

  z-index: 1;
}

.negative-right {
  margin: 0 -2rem 1rem 0.5rem;
}

.negative-left {
  margin: 0 0.5rem 1rem -2rem;
}

.spa-heading {
  font-weight: 400;
  font-size: 0.95rem;
  color: var(--color-primary);
  position: relative;
  margin: 0 5rem 1rem;
}

.spa-heading::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -5rem;
  width: 4rem;
  height: 1px;
  background-color: var(--color-primary);
  z-index: 5;
}

.column-box-description {
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: 300;
}

.spa-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.spa-img img {
  max-width: 100%;
}

.spa-centar-second-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.spa-heading-right {
  font-weight: 400;
  font-size: 0.95rem;
  color: var(--color-primary);
  position: relative;
  margin: 0 5rem 1rem;
  text-align: left;
}

.spa-heading-right::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -5rem;
  width: 4rem;
  height: 1px;
  background-color: var(--color-primary);
  z-index: 5;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.column-box-second {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: #fff;
  padding: 2.5rem;

  z-index: 1;
}

/* ABOUT SECTION */

.spa-about-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.spa-about-container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem;
  color: #fff;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.border {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #fff;
}

.spa-about-heading {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;
  padding: 3rem 0 2rem;
}

.spa-about-description {
  font-size: 0.95rem;
  line-height: 1.6;
  font-weight: 500;
  padding-bottom: 4rem;
}

@media screen and (max-width: 51em) {
  .spa-centar-heading {
    padding: 4rem 1rem;
  }

  .spa-centar-heading h1 {
    font-size: 2rem;
  }

  .spa-centar-container {
    grid-template-columns: 1fr;
  }

  .negative-right {
    margin: 0;
    padding: 1rem;
  }

  .negative-left {
    margin: 0;
  }

  .spa-heading-right {
    margin: 0 2rem 1rem 5rem;
  }

  .border {
    display: none;
  }
}
